.shope-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    background-color:#FFE0B3;
    padding-left: 10px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding-left: 65px;
    padding-right: 60px;
}